body{
    margin: 0px;
    font-family:'Darumadrop One';
    margin-top: 70px;
}
nav{
    background-color: rgb(136, 0, 255);
    height: 65px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    border-bottom: 3px solid rgb(0, 251, 255);
    position: fixed;
    top: 0;
    left: 0;
    width:100% ;
}
nav img{
    height: 30px;
}
nav a{
    color: rgb(136, 0, 255);
    background-color: rgb(255, 200, 0);
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
    font-family: 'angelwish';
}
nav a:hover{
    background-color: darkcyan;
    color: rgb(255, 183, 0);
}
nav input{
    border-radius: 20px;
    border: none;
    width: 150px;
    padding: 8px;
}
.whatsapp, .instagram, .facebook{
    color: rgb(255, 255, 255);
    position: fixed;
    right: 50px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    text-decoration: none;
    

}
.whatsapp{
    background-color: rgb(42, 201, 10); 
    bottom: 50px;   
}
.instagram{
    background: #833AB4;
    background: linear-gradient(180deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    bottom: 105px;
}
.facebook{
    background-color: rgb(0, 98, 255);
    bottom: 158px;
}
@font-face {
  font-family: "rosecaps";
  src:
     url(rosecaps.TTF) format("truetype");
}
